go 1.22

use (
	./shared
	./services/employee
	./services/organization
	./services/attendance
	./services/leave
	./services/loan
	./services/payroll
	./services/earnings
	./services/deductions
	./services/performance
	./services/banking
	./services/auth
	./services/config
	./services/audit
)
